foundationdb==7.1.57
iniconfig==2.1.0
lxml==5.4.0
packaging==26.2
pluggy==1.6.0
psutil==5.9.2
pytest==8.4.2
python-dateutil==2.9.0.post0
six==1.17.0
boto3==1.42.97
kubernetes==30.1.0
moto[s3]==4.2.14
black==26.5.1
pyright==1.1.410
