attrs==20.3.0
foundationdb==6.3.18
importlib-metadata==4.0.1
iniconfig==1.1.1
lxml==4.6.3
packaging==20.9
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.3
python-dateutil==2.8.1
six==1.15.0
subprocess32==3.5.4
toml==0.10.2
typing-extensions==3.10.0.0
zipp==3.4.1
boto3==1.23.10
moto[s3]==3.1.10
