alembic==1.2.1
aniso8601==8.0.0
Click==7.0
dominate==2.4.0
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Jsonpify==1.5.0
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-RESTful==0.3.7
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
Flask-Uploads==0.2.1
foundationdb==5.2.8
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.3
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==3.6.1
pysqlite3==0.4.1
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
pytz==2019.3
six==1.12.0
SQLAlchemy==1.3.10
subprocess32==3.5.4
visitor==0.1.3
Werkzeug==0.16.0
WTForms==2.2.1
lxml==4.5.2
